<% provide(:title, "Main") %>
<h3>Services:</h3>
<ul>
  <li><%= link_to "Utility Services", utility_path %></li>
  <li><%= link_to "Site Availabilty Request", availability_path %></li>
  <li><%= link_to "Rate Calculation Request", calculate_path %></li>
  <li><%= link_to "Reservation Hold Request", reservationhold_path %></li>
</ul>