<% provide(:title, "Main") %>
<h1>Main</h1>
<p>Utility Services:</p>
<ul>
  <li><%= link_to "Unit Type Information Service", unit_path %></li>
  <li><%= link_to "Site Type Information Service", site_path %></li>
  <li><%= link_to "Notes and Terms Service", note_path %></li>
</ul>