<% provide(:title, "Miscellaneous") %>
<ul>
  <li><%= link_to "XML Parser", xmlparse_path %>:
     Parses XML in a text field and allows it to be sent directly to the web services test server.</li>
</ul>