<% provide(:title, "Miscellaneous") %>
<ul>
  <li><%= link_to "Text Parser", textparse_path %>:
     Parses raw text input as a request and allows it to be sent directly to the web services test server.</li>
</ul>