<hr/>

<h3><%= @xml_title%></h3>

<% if @xml_fault_title.present? %>
  <div class="errorExplanation">
    <h3><%= @xml_fault_title %></h3>
    <%= @xml_fault_help if @xml_fault_help.present? %>
  </div>
<% end %>

<div class="formatXML">
  <pre><%= @xml %></pre>
</div>
