<hr/>

<h3><%= @output[:xml_title]%></h3>

<% if @output[:xml_fault_title].present? %>
  <div class="errorExplanation">
    <h3><%= @output[:xml_fault_title] %></h3>
    <%= @output[:xml_fault_help] if @output[:xml_fault_help].present? %>
  </div>
<% end %>

<div class="formatXML">
  <pre><%= @output[:xml] %></pre>
</div>
