<hr/>

<h3><%= @xmltitle%></h3>

<% if @xmlfaulttitle.present? %>
  <div class="errorExplanation">
    <h3><%= @xmlfaulttitle %></h3>
    <%= @xmlfaulthelp if @xmlfaulthelp.present? %>
  </div>
<% end %>

<div class="formatXML">
  <pre><%= @xml %></pre>
</div>
