<div class="sidebar">

  <p>Utility Services:</p>
  <ul>
    <li><%= link_to "Unit Type Information", unit_path %></li>
    <li><%= link_to "Site Type Information", site_path %></li>
    <li><%= link_to "Notes and Terms", note_path %></li>
  </ul>
</div>

